<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mallEntities" connectionString="metadata=res://*/Mall.csdl|res://*/Mall.ssdl|res://*/Mall.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=mall;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>    
    <!-- 数据库连接字符串 -->
    <!--<add key="sqlConnString" value="server=WIN-91TQ506VU0C\GIAO;database=mall;UID=sa;Password=123"/>-->

    <add key="sqlConnString" value="server=.;database=mall;UID=sa;Password=888888"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>